{:deps         true
 :nrepl        {:port 9000}
 :builds       {:frontend {:target     :browser
                           :output-dir "resources/public/js"
                           :asset-path "/js"
                           :modules    {:app {:init-fn musab.web.core/init!}}
                           :devtools   {:after-load musab.web.core/mount-root}}}
 :dev-http     {3000 {:root "resources/public"}}}
